// Подключение сниппетов
@import url(./snippets.css);

// Создание отступов между колонками
.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

// .row {
//   display: flex;
//   flex-wrap: wrap;
//   margin-left: 15px;
//   margin-right: 15px;
// }

// .goods {
//   flex: 1 0 0%;
//   margin-left: 15px;
//   margin-right: 15px;
// }

// Стилизация header
#header {
  background: #222222;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 0;

  &-logo {
    width: 111px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}

// Стилизация формы поиска
.search-icon-form {
  width: 27px;
  height: 35px;
  margin: 0 0 0 30%;
  position: relative;
}

.search-icon-form__label {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/header_icon_search.svg") cover no-repeat;
}

.search-icon-form__label:hover .search-icon-form__svg {
  fill: #f16d7f;
}

.search-icon-form__label:active .search-icon-form__svg {
  fill: #f16d7f;
}

.search-icon-form__svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}

.search-icon-form__input {
  width: 0;
  min-height: 0;
  padding: 5px;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  position: absolute;
  top: -5px;
  left: 75px;
  color: #fff;
  font-size: 16px;
  font-family: Arial;
  text-transform: capitalize;
}

.search-icon-form__input:focus {
  width: 500px;
  min-height: 20px;
  transition: width 1s ease;
  border: 2px solid #fff;
}

.search-icon-form__input:focus
  ~ .search-icon-form__label
  > .search-icon-form__svg {
  fill: #f16d7f;
}

// Стилизация навигации
.header-nav {
  margin-right: -28px;
  padding-top: 8px;
  padding-right: 9px;

  &-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;

    > li:not(:last-child) {
      padding-right: 33px;
    }
  }
}

// Стилизация блока poster
.poster {
  background-color: #f1e4e6;

  &-promo {
    width: 100%;
    margin-bottom: 65px;
    min-height: 764px;
    background-image: url("../img/header_img!.png");
    background-repeat: no-repeat;
    background-position: -4%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &-text {
      margin-right: 85px;
      margin-bottom: 100px;
      font-weight: 900;
      font-size: 48px;
      line-height: 58px;
      color: #222222;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      &::before {
        content: " ";
        background: #f16d7f;
        width: 12px;
        height: 92px;
        float: left;
        margin-right: 10px;
      }

      &-heading {
        color: #222222;
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        text-transform: uppercase;
      }

      &-nowrap {
        text-transform: uppercase;
        white-space: nowrap;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
      }
    }
  }
}

.mark-color {
  color: #f16d7f;
  text-transform: uppercase;
}

// Стилизация блока offer

.offer {
  margin-bottom: 96px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;

  &-wrap:not(:last-child) {
    display: flex;
    flex-wrap: nowrap;
  }

  &-card {
    width: 100%;
    min-width: 360px;
    min-height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    position: relative;
  }

  &-woomen {
    background-image: url("../img/offer_1.png");
    background-repeat: no-repeat;
  }

  &-men {
    background-image: url("../img/offer_2.png");
    background-repeat: no-repeat;
    width: 100%;
    min-width: 360px;
  }

  &-kids {
    background-image: url("../img/offer_3.png");
    background-repeat: no-repeat;
    width: 100%;
    min-width: 360px;
    min-height: 260px;
  }

  &-accesories {
    background-image: url("../img/offer_4.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    position: relative;
    width: 103%;
    min-width: 360px;
    min-height: 170px;
    margin-right: 0;
  }

  &-woomen,
  &-men,
  &-kids,
  &-accesories {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(33, 22, 22, 0.7);
    }
  }

  &-title-woomen,
  &-title-men,
  &-title-kids,
  &-title-accesories {
    position: absolute;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
  }
  &-title-heading {
    margin-bottom: 5px;
  }
}

//   &-woomen,
//   &-men {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin-right: 30px;
//     position: relative;
//     // overflow: hidden;

//     // &-image {
//     //   max-width: 100%;
//     //   transition: all 0.2s linear;
//     //   display: block;

//     // &:hover {
//     //   transform: scale(1.2); /* Увеличиваем масштаб */
//     // }
//   }

//   &-kids {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     position: relative;
//     // overflow: hidden;

//     &-image {
//       max-width: 100%;
//       transition: all 0.2s linear;
//       display: block;

//       // &:hover {
//       //   transform: scale(1.2); /* Увеличиваем масштаб */
//       // }
//     }
//   }

//   &-accesories {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin-top: 30px;
//     position: relative;
//     // overflow: hidden;

//     &-image {
//       max-width: 100%;
//       transition: all 0.2s linear;
//       display: block;

//       // &:hover {
//       //   transform: scale(1.2); /* Увеличиваем масштаб */
//       // }
//     }
//   }
// }

// &-woomen,
// &-men,
// &-kids,
// &-accesories {
//   &::before {
//     content: "";
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     background: rgba(33, 22, 22, 0.7);
//   }
// }

// &-title-woomen,
// &-title-men,
// &-title-kids,
// &-title-accesories {
//   position: absolute;
//   text-align: center;
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 19px;
//   text-align: center;
//   color: #ffffff;
// }

// Стилизация блока products

.products {
  margin-bottom: 95px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 6px;
  }

  &-text {
    color: #9f9f9f;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 48px;
  }

  &-wrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &-card {
    text-align: start;
    position: relative;

    &-title {
      color: #000000;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      text-transform: uppercase;
      margin-bottom: 12px;
      padding-left: 18px;
    }

    &-description {
      color: #5d5d5d;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 18px;
      padding-left: 16px;
    }

    &-price {
      display: block;
      color: #f16d7f;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 20px;
      padding-left: 18px;
    }
  }

  &-card:not(:last-child) {
    margin-right: 30px;
  }

  &-image {
    margin-bottom: 25px;
    width: 100%;
  }

  &-button {
    border: 1px solid #ff6a6a;
    color: #f26376;
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 14px 38px;

    &:hover {
      color: #fff;
      background: #f16d7f;
      border: 1px solid #ff6a6a;
      transition: all 0.2s linear;
    }
  }
}

// Стилизация наведения мыши на карточку товара
.products-card:hover .products-card-btn {
  display: flex;
}

.products-card:hover .products-card-btn:hover {
  background-color: #ccc;
  color: #000;
  border: 1px solid #000;
  fill: #000;
}

.products-card:hover .products-card-btn:active {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.products-card:hover .products-card-btn:active svg {
  fill: #fff;
}

.products-card:hover .products-image {
  filter: brightness(50%);
}

.products-card-btn {
  display: none;
  justify-content: center;
  align-items: center;
  width: 38.3%;
  min-height: 43px;
  border: 1px solid #ffffff;
  background: transparent;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  position: absolute;
  top: 188px;
  left: 32.7%;
}

.products-card-btn svg {
  fill: #fff;
  margin: 0 11px 0 0;
}

.products-btn:hover {
  background-color: #ff6a6a;
  color: #fff;
}

.products-btn:active {
  background-color: #fff;
  color: #ff6a6a;
}

// Стилизация блока feature

.feature {
  background: #222224;

  &-wrap {
    display: flex;
    justify-content: space-between;
  }

  &-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 104px;
    padding-bottom: 104px;
  }

  &-title {
    margin-top: auto; //Выравнивает отступ текста после картинок разной высоты
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #fbfbfb;
  }

  &-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #fbfbfb;
    margin-top: 16px;
  }
  &-img {
    margin-bottom: 28px;
  }
}

#footer {
  background: #222224;
}

.footer-review {
  background-image: linear-gradient(
      180deg,
      rgba(244, 244, 244, 0.5),
      rgba(244, 244, 244, 0.5)
    ),
    url(../img/form_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  &-info {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 200px;
    width: 100%;

    &-comment {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      width: 30%;

      &-userpic {
        border-radius: 50%;
        margin-bottom: 30px;
      }

      &-text {
        padding-top: 20px;
        text-align: center;
        color: #222224;
        margin-bottom: 30px;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;

        &-mark {
          font-style: italic;
        }
      }
    }
  }

  &-subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #222224;
    text-transform: uppercase;

    > h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 167.2%;
      /* or 40px */
    }

    > h4 {
      font-weight: 400;
      font-size: 18px;
      line-height: 167.2%;
      margin-bottom: 32px;
    }

    &-form {
      &-input {
        border-radius: 23px 0 0 23px;
        background-color: #e1e1e1;
        border: 1px solid #e1e1e1;
        padding: 15px 85px 15px 28px;
        margin: -5px;
      }
      &-btn {
        background: #f16d7f;
        border: 1px solid #f16d7f;
        border-radius: 0 23px 23px 0;
        color: #ffffff;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.35px;
        padding: 16px 17px;
      }
    }
  }
}

.footer-info {
  display: flex;
  justify-content: space-between;

  &-rights {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fbfbfb;
  }

  &-social {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-between;

    &-list {
      display: flex;
      justify-content: center;
      list-style: none;

      &-item {
        display: flex;
        flex-wrap: wrap;
        margin-right: 10px;
        background-color: #eff0f5;

        &-link {
          width: 32px;
          height: 32px;
          outline: none;
          transition: background-color 0.2s;
        }
      }
    }
  }
}

.icon-facebook {
  background: url(../img/icon-facebook.svg) center no-repeat;
}

.icon-instagram {
  background: url(../img/icon-instagram.svg) center no-repeat;
}

.icon-pinterest {
  background: url(../img/icon-pinterest.svg) center no-repeat;
}

.icon-twitter {
  background: url(../img/icon-twitter.svg) center no-repeat;
}

// Стилизация catalog.html
.header-breadcrumbs {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  background: #f8f3f4;

  &-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    padding: 60px;
  }

  &-menu {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;

    &-list {
      display: flex;

      &:hover {
        color: #f16d7f;
      }

      &::after:last-child {
        content: "";
        margin: 0;
      }

      &-item::after {
        content: "/";
        margin: 0 2px;
      }
    }
  }
}

.product-sidebar {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 65px;

  &-filter {
    &-btn {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      border: none;
      background-color: transparent;

      &:hover {
        fill: #f16d7f;
        cursor: pointer;
      }

      &-txt {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        margin-right: 10px;

        &:hover {
          color: #f16d7f;
        }
      }
    }
  }

  &-options {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-right: 255px;

    &-details {
      padding-right: 48px;
      cursor: pointer;

      &-summary {
        display: flex;
        align-items: center;
        list-style: none;
        margin-right: 28px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6f6e6e;

        &-svg {
          margin-left: 10px;
        }

        &-form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: absolute;
          background: #ffffff;
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          padding: 9px;
        }

        &-form-label {
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: #6f6e6e;
          padding-top: 10px;

          &:hover {
            color: #f16d7f;
            cursor: pointer;
            text-transform: uppercase;
          }

          &-input {
            border: 1px solid #ebebeb;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.product-pagination {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 96px;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 261px;
    margin: 0 auto;
  }

  .product-list-link {
    color: #6f6e6e;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    display: block;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      color: #ef5b70;
      fill: #ef5b70;
      text-decoration: none;
    }
  }
}

.product-current {
  color: #ef5b70;
}
