@import url(./snippets.css);
.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  width: 100%;
  margin: 0 auto;
  background: #222222;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 0;
}

.header-menu-logo {
  width: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.search-icon-form {
  width: 27px;
  height: 35px;
  margin: 0 0 0 30%;
  position: relative;
}

.search-icon-form__label {
  display: block;
  width: 100%;
  height: 100%;
}

.search-icon-form__label:hover .search-icon-form__svg {
  cursor: pointer;
  fill: #f16d7f;
}

.search-icon-form__label:active .search-icon-form__svg {
  fill: #f16d7f;
}

.search-icon-form__svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}

.search-icon-form__input {
  width: 0;
  min-height: 0;
  padding: 5px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border: none;
  position: absolute;
  top: -5px;
  left: 75px;
  color: #fff;
  font-size: 16px;
  font-family: Arial;
  text-transform: capitalize;
}

.search-icon-form__input:focus {
  width: 500px;
  min-height: 20px;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
  border: 2px solid #fff;
}

.search-icon-form__input:focus
~ .search-icon-form__label
> .search-icon-form__svg {
  fill: #f16d7f;
}

.header-nav {
  padding-top: 8px;
  padding-right: 9px;
}

.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5px;
}

.header-nav-list > li:not(:last-child) {
  padding-right: 33px;
}

.header-nav-item-count {
  position: absolute;
  top: -12px;
  left: 22px;
  font-weight: 400;
  text-transform: none;
  font-size: 12px;
  color: #ffffff;
  line-height: 14px;
  padding: 5px 8px;
  background: #f16d7f;
  border-radius: 50%;
}

.header-nav-item:last-child {
  position: relative;
}

.header-nav-item-btn {
  background: transparent;
  border: none;
}

.header-nav-item-btn-svg {
  fill: #e5e5e5;
}

.header-nav-item-btn-svg:hover {
  cursor: pointer;
  fill: #f16d7f;
}

.menu-btn-close {
  text-align: right;
  padding: 16px 16px 8px;
}

.btn-close-svg {
  fill: #575757;
}

.btn-close-svg:hover {
  fill: #f16d7f;
  cursor: pointer;
}

.menu-btn,
.btn-close {
  display: none;
}

.menu-btn:checked ~ .menu {
  visibility: visible;
}

.menu {
  max-width: 232px;
  width: 100%;
  background-color: #fff;
  visibility: hidden;
  height: 764px;
  background-color: #fff;
  list-style: none;
  position: absolute;
  top: 71px;
  right: 0;
  z-index: 20;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
}

.menu-list, .menu-sublist {
  padding: 0;
  list-style-type: none;
}

.menu-list {
  padding: 37px 34px;
}

.menu-list-item {
  padding-left: 33px;
  margin: 0 0 20px 0;
}

.menu-list-item:first-child {
  margin: 0 0 24px 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.menu-list-item > a {
  display: block;
  margin: 0 0 12px 0;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  text-decoration: none;
  color: #f16d7f;
}

.menu-list-item > a:active {
  text-decoration: none;
  color: #6f6e6e;
}

.menu-sublist {
  padding: 0 0 0 20px;
}

.menu-sublist-item a {
  color: #6f6e6e;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  padding-left: 20px;
}

.menu-sublist-item a:hover {
  text-decoration: underline;
}

.menu-sublist-item a:active {
  text-decoration: none;
}

.poster {
  background-color: #f1e4e6;
}

.poster-promo {
  width: 100%;
  margin-bottom: 65px;
  min-height: 764px;
  background-image: url("../img/header_img.png");
  background-repeat: no-repeat;
  background-position: -4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.poster-promo-text {
  margin-bottom: 100px;
  color: #222222;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.poster-promo-text::before {
  content: " ";
  background: #f16d7f;
  width: 12px;
  height: 92px;
  float: left;
  margin-right: 10px;
}

.poster-promo-text-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #222222;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  margin-right: 62px;
  text-transform: uppercase;
}

.poster-promo-text-nowrap {
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.main {
  width: 100%;
  margin: 0 auto;
}

.mark-color {
  color: #f16d7f;
  text-transform: uppercase;
}

.offer {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 96px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer-card {
  width: 100%;
  max-width: 360px;
  height: 100%;
  min-height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.offer-woomen {
  background-image: url("../img/offer_1.png");
  background-repeat: no-repeat;
}

.offer-men {
  background-image: url("../img/offer_2.png");
  background-repeat: no-repeat;
}

.offer-kids {
  background-image: url("../img/offer_3.png");
  background-repeat: no-repeat;
}

.offer-accesories {
  background-image: url("../img/offer_4.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 175px;
  margin-right: 0;
}

.offer-woomen::before, .offer-men::before, .offer-kids::before, .offer-accesories::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 22, 22, 0.7);
}

.offer-title-woomen, .offer-title-men, .offer-title-kids, .offer-title-accesories {
  position: absolute;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.offer-title-heading {
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.products {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 95px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 6px;
}

.products-text {
  color: #9f9f9f;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 48px;
}

.products-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.products-card {
  width: 360px;
  text-align: start;
  position: relative;
}

.products-card-title {
  color: #000000;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 12px;
  padding-left: 18px;
}

.products-card-description {
  color: #5d5d5d;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 18px;
  padding-left: 16px;
}

.products-card-price {
  display: block;
  color: #f16d7f;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
  padding-left: 18px;
}

.products-image {
  display: block;
  margin-bottom: 25px;
  width: 100%;
}

.products-button {
  border: 1px solid #ff6a6a;
  color: #f26376;
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 14px 38px;
}

.products-button:hover {
  color: #fff;
  background: #f16d7f;
  border: 1px solid #ff6a6a;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.products-button:active {
  background: #fff;
  color: #f26376;
}

.products-card:hover .products-card-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-card:hover .products-card-btn:hover {
  background-color: #ccc;
  color: #000;
  border: 1px solid #000;
  fill: #000;
}

.products-card:hover .products-card-btn:hover svg {
  background-color: transparent;
  fill: #000;
}

.products-card:hover .products-card-btn:active {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.products-card:hover .products-card-btn:active svg {
  fill: #fff;
}

.products-card:hover .products-image {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.products-card-btn {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 38.3%;
  min-height: 43px;
  border: 1px solid #ffffff;
  background: transparent;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  position: absolute;
  top: 30%;
  left: 30%;
  cursor: pointer;
}

.products-card-btn svg {
  fill: #fff;
  margin: 0 11px 0 0;
}

.products-btn:hover {
  background-color: #ff6a6a;
  color: #fff;
}

.products-btn:active {
  background-color: #fff;
  color: #ff6a6a;
}

.product-sidebar-filter-info {
  display: none;
  padding-bottom: 13px;
}

.product-sidebar-filter:active .product-sidebar-filter-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature {
  background: #222224;
}

.feature-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feature-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 104px;
  padding-bottom: 104px;
}

.feature-title {
  margin-top: auto;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fbfbfb;
}

.feature-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fbfbfb;
  margin-top: 16px;
}

.feature-img {
  margin-bottom: 28px;
}

.footer {
  width: 100%;
  margin: 0 auto;
  background: #222224;
}

.footer-review {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(244, 244, 244, 0.5)), to(rgba(244, 244, 244, 0.5))), url(../img/form_bg.jpg);
  background-image: linear-gradient(180deg, rgba(244, 244, 244, 0.5), rgba(244, 244, 244, 0.5)), url(../img/form_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-review-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 200px;
  width: 100%;
}

.footer-review-info-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  width: 30%;
}

.footer-review-info-comment-userpic {
  border-radius: 50%;
  margin-bottom: 30px;
}

.footer-review-info-comment-text {
  padding-top: 20px;
  text-align: center;
  color: #222224;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.footer-review-info-comment-text-mark {
  font-style: italic;
}

.footer-review-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222224;
  text-transform: uppercase;
}

.footer-review-subscribe > h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  /* or 40px */
}

.footer-review-subscribe-txt {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 167.2%;
}

.footer-review-subscribe-form {
  margin-top: 32px;
}

.footer-review-subscribe-form-input {
  border-radius: 23px 0 0 23px;
  background-color: #e1e1e1;
  border: 1px solid #e1e1e1;
  padding: 15px 85px 15px 28px;
  margin: -5px;
}

.footer-review-subscribe-form-input:hover {
  border: 1px solid #e6677893;
  background: none;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.footer-review-subscribe-form-input:hover::-webkit-input-placeholder {
  color: #e6677893;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.footer-review-subscribe-form-input:hover:-ms-input-placeholder {
  color: #e6677893;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.footer-review-subscribe-form-input:hover::-ms-input-placeholder {
  color: #e6677893;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.footer-review-subscribe-form-input:hover::placeholder {
  color: #e6677893;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.footer-review-subscribe-form-btn {
  background: #f16d7f;
  border: 1px solid #f16d7f;
  border-radius: 0 23px 23px 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.35px;
  padding: 16px 17px;
}

.footer-review-subscribe-form-btn:hover {
  background: #ffffff;
  color: #f16d7f;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  cursor: pointer;
}

.footer-review-subscribe-form-btn:active {
  background: #f16d7f;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-info-rights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}

.footer-info-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-info-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.footer-info-social-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 10px;
  background-color: #eff0f5;
}

.footer-info-social-list-item:hover {
  background-color: #f16d7f;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  cursor: pointer;
}

.footer-info-social-list-item:hover .icon {
  fill: #fff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.footer-info-social-list-item:active {
  background-color: #eff0f5;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.footer-info-social-list-item:active .icon {
  fill: #000;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.footer-info-social-list-item-link {
  width: 32px;
  height: 32px;
  outline: none;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.icon {
  fill: #000;
  display: block;
  margin: 9px auto;
}

.header-breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  background: #f8f3f4;
}

.header-breadcrumbs-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.header-breadcrumbs-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.header-breadcrumbs-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-breadcrumbs-menu-list-item:not(:last-child)::after {
  content: "/";
  margin: 0 2px;
}

.header-breadcrumbs-menu-list-item-link:hover {
  color: #f16d7f;
}

.product-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 65px;
}

.product-sidebar-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  margin-right: 255px;
}

.product-sidebar-options-details {
  padding-right: 48px;
  cursor: pointer;
  position: relative;
}

.product-sidebar-options-details-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-right: 28px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}

.product-sidebar-options-details-summary-svg {
  margin-left: 10px;
}

.product-sidebar-options-details-summary-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  background: #ffffff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 9px;
  z-index: 1;
}

.product-sidebar-options-details-summary-form-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6f6e6e;
  padding-top: 10px;
}

.product-sidebar-options-details-summary-form-label:hover {
  color: #f16d7f;
  cursor: pointer;
  text-transform: uppercase;
}

.product-sidebar-options-details-summary-form-label-input {
  border: 1px solid #ebebeb;
  margin-right: 10px;
}

#switch-filter {
  display: none;
}

#switch-filter:checked ~ .filter-list-wrp {
  display: block;
}

.filter {
  width: 340px;
  padding: 0 16px 16px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffffff;
  /* box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21); */
  /* NB! */
  position: relative;
}

.filter-btn {
  display: block;
  width: 100%;
  margin: 0 0 16px 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: #000000;
  text-align: left;
}

.filter-btn span {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16.8px;
  text-transform: uppercase;
}

.filter-btn svg {
  margin: 0 0 0 11px;
  fill: currentColor;
}

.filter-btn:hover {
  color: #f16d7f;
}

.filter-btn:active {
  color: #222224;
}

.filter-list-wrp {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 16px 16px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffffff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 1;
}

.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-list-item {
  width: 100%;
  margin: 0 0 18px 0;
  padding: 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
  border-bottom: 1px solid #ebebeb;
  position: relative;
}

.filter-list-item::before {
  content: "";
  display: block;
  width: 5px;
  height: 37px;
  background-color: #ef5b70;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.filter-list-item a {
  text-transform: uppercase;
  color: #ef5b70;
  text-decoration: none;
}

.filter-list-item:hover::before {
  background-color: red;
}

.filter-list-item:hover a {
  color: red;
}

.filter-list-item:active::before {
  background-color: #ccc;
}

.filter-list-item:active a {
  color: #ccc;
}

.filter-sublist {
  margin: 24px 0 0 0;
  padding: 0 0 0 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

.filter-sublist-item {
  margin: 0 0 11px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
}

.filter-sublist-item:last-child {
  margin: 0 0 24px 0;
}

.filter-sublist-item a {
  color: #6f6e6e;
  text-decoration: none;
}

.filter-sublist-item:hover a {
  color: #ef5b70;
}

.filter-sublist-item:active a {
  color: #000;
}

.product-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 96px;
}

.product-pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 261px;
  margin: 0 auto;
}

.product-pagination .product-list-link {
  color: #6f6e6e;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.product-pagination .product-list-link:hover {
  color: #ef5b70;
  fill: #ef5b70;
  text-decoration: none;
}

.product-current {
  color: #ef5b70;
}

.product-preview-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.carousel-btn {
  padding: 13px 17px;
  background-color: #d8d8d8;
  border: none;
}

.carousel-btn:hover {
  fill: #f16d7f;
}

.carousel-arrow {
  display: block;
}

.product-preview-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 65px;
  margin-bottom: 195px;
}

.product-description-title {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.product-description-title:after {
  content: "";
  display: block;
  margin: 12px auto;
  width: 63px;
  height: 3px;
  background-color: #f16d7f;
}

.product-description-heading {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4d4d4d;
  text-transform: uppercase;
  margin-bottom: 48px;
}

.product-description-txt {
  font-weight: 300;
  font-size: 14px;
  color: #5e5e5e;
  line-height: 17px;
  max-width: 580px;
  margin: 0 auto 32px;
  text-align: center;
}

.product-description-price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #ef5b70;
  text-transform: uppercase;
  margin: 0;
}

.product-sort__button {
  margin: 49px auto 0;
  border: 1px solid #f16d7f;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 46px;
  color: #f16d7f;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.product-sort__button-svg {
  margin-right: 23px;
  fill: currentColor;
}

.product-sort__button:hover {
  cursor: pointer;
  background: #f16d7f;
  color: #ffffff;
}

.product-sort__button:active {
  cursor: pointer;
  background: #ffffff;
  color: #f16d7f;
}

.prod-prev {
  margin-top: 130px;
  margin-right: 0;
  padding-left: 80px;
}

.shopping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shopping-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-shadow: 17px 19px 24px 1px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px 1px rgba(0, 0, 0, 0.13);
  margin-bottom: 40px;
  max-width: 652px;
  max-height: 306px;
}

.shopping-cart-link {
  margin-right: 32px;
}

.shopping-cart-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 306px;
}

.shopping-cart-info {
  margin-right: 85px;
}

.shopping-cart-info-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 42px;
  margin-top: 22px;
  text-transform: uppercase;
}

.shopping-cart-info-txt {
  font-weight: 400;
  text-transform: capitalize;
  font-size: 22px;
  line-height: 27px;
  color: #575757;
  margin-top: 6px;
}

.shopping-cart-info-txt:last-child {
  display: inline-block;
}

.shopping-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 72px;
  margin-bottom: 128px;
}

.shopping-btn-btn-txt {
  border: 1px solid #a4a4a4;
  padding: 16px 20px;
  background-color: transparent;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.quantity-cart {
  display: inline-block;
  border: none;
  text-align: left;
  font-weight: 400;
  font-size: 22px;
  text-transform: capitalize;
  line-height: 27px;
  color: #656565;
  text-align: center;
  width: 43px;
  height: 24px;
}

.quantity-txt {
  display: inline-block;
}

.close-btn {
  margin-top: 22px;
  margin-right: 22px;
  border: none;
  height: 18px;
  fill: #575757;
}

.close-btn-svg:hover {
  cursor: pointer;
  fill: #f16d7f;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.close-btn-svg:active {
  cursor: pointer;
  fill: #575757;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.clear-btn,
.continue-btn {
  border: 1px solid #a4a4a4;
  padding: 16px 20px;
  background-color: transparent;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
}

.clear-btn:hover,
.continue-btn:hover {
  cursor: pointer;
  border: 1px solid #f16d7f;
  background: #f16d7f;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.clear-btn:active,
.continue-btn:active {
  cursor: pointer;
  background-color: transparent;
  color: #f16d7f;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.shopping-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 360px;
  width: 100%;
  margin-top: 18px;
  margin-left: 25px;
  margin-bottom: 335px;
}

.delivery-address {
  width: 100%;
  font-weight: 300;
  text-transform: capitalize;
  font-size: 13px;
  line-height: 16px;
  border: 1px solid #a4a4a4;
  padding: 13px 0 16px 17px;
  margin-top: 20px;
}

.delivery-address:hover {
  border: 1px solid #e6677893;
  background: none;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.delivery-address:hover::-webkit-input-placeholder {
  color: #e6677893;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.delivery-address:hover:-ms-input-placeholder {
  color: #e6677893;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.delivery-address:hover::-ms-input-placeholder {
  color: #e6677893;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.delivery-address:hover::placeholder {
  color: #e6677893;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.delivery-title {
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  color: #222222;
  margin: 0;
}

.delivery-btn {
  display: block;
  border: 1px solid #a4a4a4;
  margin-top: 23px;
  padding: 11px 12px 11px 12px;
  background: #ffffff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 16px;
  color: #b1b1b1;
  fill: #575757;
}

.delivery-btn:hover {
  cursor: pointer;
  border: 1px solid #f16d7f;
  background: #f16d7f;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.delivery-btn:active {
  cursor: pointer;
  background-color: transparent;
  color: #f16d7f;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.shopping-form-cost {
  margin-top: 57px;
  padding: 40px 42px 40px 43px;
  text-align: right;
}

.cost-btn {
  width: 100%;
  display: inline-block;
  border: 1px solid #f16d7f;
  background: #f16d7f;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 19px;
  color: #ffffff;
  padding: 14px;
  margin-top: 17px;
}

.cost-btn:hover {
  cursor: pointer;
  border: 1px solid #f16d7f;
  background: #fff;
  color: #f16d7f;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.cost-btn:active {
  cursor: pointer;
  background: #f16d7f;
  color: #fff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.cost-total {
  display: inline-block;
  text-align: right;
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 13px;
  color: #4a4a4a;
  margin-bottom: 12px;
}

.cost-total-value {
  display: inline-block;
  border: none;
  text-align: left;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  width: 43px;
  height: 24px;
  color: #4a4a4a;
}

.cost-grand {
  display: inline-block;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 19px;
}

.cost-grand-value {
  display: inline-block;
  border: none;
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  text-align: center;
  width: 43px;
  height: 24px;
}

.registration-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 64px;
  margin-bottom: 96px;
}

.registration-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  margin-right: 128px;
}

.registration-form-txt {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
  margin-bottom: 39px;
  margin-top: 15px;
}

.registration-perk {
  max-width: 652px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.registration-perk-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.registration-perk-txt {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 22px;
}

.registration-perk-item {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-bottom: 16px;
}

.registration-perk-item > svg {
  margin-right: 23px;
}

.registration-name {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin: 0;
}

.registration-input {
  width: 100%;
  max-width: 360px;
  font-weight: 300;
  text-transform: capitalize;
  font-size: 13px;
  line-height: 16px;
  border: 1px solid #a4a4a4;
  padding: 13px 0 16px 17px;
  margin-top: 20px;
}

.registration-input:hover {
  border: 1px solid #e6677893;
  background: none;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.registration-input:hover::-webkit-input-placeholder {
  color: #e6677893;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.registration-input:hover:-ms-input-placeholder {
  color: #e6677893;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.registration-input:hover::-ms-input-placeholder {
  color: #e6677893;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.registration-input:hover::placeholder {
  color: #e6677893;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.registration-form-label {
  display: inline-block;
  margin-top: 33px;
  padding-right: 20px;
  margin-bottom: 33px;
}

.registration-form-label-input {
  margin-right: 10px;
}

.registration-btn {
  display: inline-block;
  border: 1px solid #f16d7f;
  background: #f16d7f;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 17px;
  max-width: 168px;
  color: #ffffff;
  padding: 16px 26px 17px 29px;
}

.registration-btn:hover {
  background: #ffffff;
  color: #f16d7f;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.registration-btn:active {
  background: #f16d7f;
  color: #fff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.registration-btn-svg {
  margin-left: 20px;
  fill: currentColor;
}
/*# sourceMappingURL=main.css.map */